* {
  padding: 0px;
  margin: 0px;
}

body {
  display: block;
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("http://img.freepik.com/free-photo/white-wall_1194-5956.jpg?size=338&ext=jpg");
  z-index: 0;
}

header {
  height: 100px;
  width: 100%;
  background: #ffffff;
  border-bottom: 4px solid #cccccc;
  z-index: 1;
}

h1 {
  font-size: 30px;
  margin-left: 60px;
  color: #777777;
  text-align: left;
  font-family: Times, serif;
}

h2 {
  font-size: 30px;
  font-color: #777777;
  padding: 10px;

}

img {
  border: 2px solid #cccccc;
}

p {
  font-color: #777777;
  font-size: 18px;
  font-style: serif;
  word-wrap: normal|break-word|initial|inherit;
}

footer {
  height: 100px;
  width: 100%;
  border-top: 6px solid #4aaaa5;
  text-align: center;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  background-color: #666666;
}

#top {
  background: #4aaaa5;
  padding: 15px;
  margin-left: 800px;
  margin-right: 40px;
  font-size: 24px;
  font-color: bold white;
  text-align: center;
}

#contact {
  float: right;
  width: 18%;
  background-color: #ffffff;
  margin: 30px 12% 30px 0%;
  border: 4px solid;
  border-color: #dddddd
  padding: 20px 3% 40px 3%;
  cursor: auto;
}

#Top-left {
  background-color: #666;
  padding: 30px;
  width: 33.3%;
  float: left;
}
#Top-right {
  float: right;
  background-color: #888;
  padding: 30px;
  width: 33.3%

}
#Middle-left {
  float: left;
  background-color: #666;
  padding: 30px;
  width: 33.3%;
}
#Middle-right {
  clear: right;
  background-color: #eee;
  width: 100%;
  overflow:auto;
}
#Middle-left {
  clear: left;
  background-color: #eee;
  width: 100%;
  overflow:auto;
}
#Bottom-left {
  clear: left;
  background-color: #eee;
  width: 100%;
  overflow:auto;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.container {
  height: 400px;
  background-color: #ffffff;
  border: 4px solid;
  border-color: #dddddd;
  margin: 60px
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
